@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600&family=Source+Serif+4:wght@300;400;600;700&display=swap');
/* font-family: 'Source Sans 3', sans-serif; */
/* font-family: 'Source Serif 4', serif; */

body {
    padding: 0;
    margin: 0;
    background-color: rgba(159, 222, 159, 0.3);
    color: gray;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 2.5rem;
}

h2 {
    font-family: 'Source Serif 4', serif;
    color: gray;
    font-size: 2.8rem;
}

main {
    height: 3508px;
    width: 2480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#section_container {
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

header {
    /* width: 95%; */
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

header .description {
    width: 90%;
    line-height: 1.4em;
    text-align: justify;
    padding: 2rem 4rem 0rem 2rem;
}

header .description h1 {
    font-family: 'Source Serif 4', serif;
    font-size: 2.6em;
    color: rgba(159, 222, 159, 1);
    line-height: 0.8em;
    margin: auto 0;
}
header .description p {
    font-size: 0.8em;
}

header .profile {
    width: 36rem;
    z-index: 2;
}

header .profile img {
    width: 120%;
    border-radius: 18rem;
}

section.left_site {
    width: 68%;
    padding: 2rem 2rem;
}

section.left_site .GitHub {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

section.left_site table {
    width: 100%;
    table-layout: auto;
    margin-top: 4rem;
}

table td {
    vertical-align: top;
    padding: 0.4rem 1rem;
}
table th h2 {
    width: 50%;
}

table .date {
    width: 20%;
    font-weight: bold;
}

section.right_site {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 0.9em;
    padding-top: 2rem;
    background-color: whitesmoke;
}

section.right_site table {
    text-align: right;
    width: 90%;
    table-layout: auto;
}
section.right_site .skills h2 {
    padding-top: 7rem;
}
section.right_site .skills-header {
    font-size: 0.9em;
}
section.right_site .education {
    width: 90%;
}
section.right_site .education h4 {
    margin: 0;
}

ul {
    list-style-type: none;
}



aside.confidentialy_clause {
    width: 92%; 
    font-size: 0.85em;
    text-align: justify;  
}